/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general del cuerpo */
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #f4f8fb;
  color: #333;
  line-height: 1.0;
  padding: 20px;
}

/* Encabezado principal */
header {
  background-color: #dbe9f4;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 30px;
}

header h1 {
  background-color: #dbe9f4;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 2.0em;
  margin-bottom: 10px;
  color: #003366;
}

header p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Botón de agendamiento */
.btn {
  background-color: #009688;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;
  transition
